openapi: 3.2.0
info:
  title: GorillaDesk Phone Type API
  description: '# Introduction

    The GorillaDesk API is organized around REST.'
  x-logo:
    url: https://cdn.gorilladesk.com/assets/images/gorilladesk.png
    altText: GorillaDesk logo
servers:
- url: https://api.gorilladesk.com/v1
security:
- Bearer: []
tags:
- name: Phone Type
paths:
  /phone-types:
    get:
      summary: List all phone types
      tags:
      - Phone Type
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PhoneType'
                  has_more:
                    type: boolean
        '401':
          $ref: '#/paths/~1users/get/responses/401'
        '403':
          $ref: '#/paths/~1users/get/responses/403'
      operationId: getPhoneTypes
      x-operation-id-source: derived
components:
  schemas:
    PhoneType:
      type: object
      properties:
        id:
          type: string
          example: 0nk8PGvAO
        name:
          type: string
          example: Mobile
        is_default:
          type: boolean
          example: true
        state:
          type: string
          enum:
          - active
          - deleted
          example: active
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
