openapi: 3.2.0
info:
  title: GorillaDesk User API
  description: '# Introduction

    The GorillaDesk API is organized around REST.'
  x-logo:
    url: https://cdn.gorilladesk.com/assets/images/gorilladesk.png
    altText: GorillaDesk logo
servers:
- url: https://api.gorilladesk.com/v1
security:
- Bearer: []
tags:
- name: User
paths:
  /users:
    get:
      summary: List all users
      tags:
      - User
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  has_more:
                    type: boolean
        '401':
          description: Unauthorized error
        '403':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - message
                properties:
                  error:
                    type:
                    - object
                    - 'null'
                  message:
                    type: string
      operationId: getUsers
      x-operation-id-source: derived
  /users/{userId}:
    get:
      summary: Retrieve a user
      tags:
      - User
      parameters:
      - in: path
        name: userId
        description: User Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/paths/~1users/get/responses/401'
        '404':
          description: Not Found
      operationId: getUsersByUserId
      x-operation-id-source: derived
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: 0nk8PGvAO
        username:
          type: string
          example: johndoe
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        role:
          type: string
          enum:
          - super_admin
          - admin
          - technician
          example: super_admin
        license:
          type: string
          example: '#91161'
        email:
          type: string
          example: example@gmail.com
        avatar:
          type: string
          example: https://d2e627ktfmb6xb.cloudfront.net/avatars/static/avatar_1.jpg
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
