openapi: 3.2.0
info:
  title: GorillaDesk Note API
  description: '# Introduction

    The GorillaDesk API is organized around REST.'
  x-logo:
    url: https://cdn.gorilladesk.com/assets/images/gorilladesk.png
    altText: GorillaDesk logo
servers:
- url: https://api.gorilladesk.com/v1
security:
- Bearer: []
tags:
- name: Note
paths:
  /customers/{customerId}/notes:
    post:
      summary: Create a customer note
      tags:
      - Note
      parameters:
      - in: path
        name: customerId
        description: Customer Id
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - content
              properties:
                content:
                  type: string
                  example: Lorem, ipsum dolor sit amet consectetur adipisicing elit
                notify_users:
                  type: array
                  description: List of user Ids
                  items:
                    type: string
                    example: jVepBjQp0E
                attachments:
                  type: array
                  description: 'Files to upload.

                    Accepted file types: image, audio, video, pdf.

                    Limit to 5 files and maximum 10MB per file.

                    '
                  items:
                    type: string
                    format: binary
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 5aXrGzNyLY
        '401':
          $ref: '#/paths/~1users/get/responses/401'
        '403':
          $ref: '#/paths/~1users/get/responses/403'
        '404':
          $ref: '#/paths/~1users~1%7BuserId%7D/get/responses/404'
      operationId: postCustomersByCustomerIdNotes
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
